aiofiles
dill
dnspython
database-connect
evidently
Flask
httptools
imblearn
jinja2
matplotlib
mypy-boto3-s3
Werkzeug
pip-chill
pymongo
python-dotenv
python-multipart
seaborn
types-s3transfer
uvicorn
watchfiles
websockets
xgboost
neuro-mf
boto3
numpy
scikit-learn
PyYAML
gunicorn
-e .
